
<div ng-cloak>
    <div class="row">
        <div class="col-md-8">
            <h1>Search!</h1>
            <hr />
            <div class="form-group">
                <input data-ng-model="vm.search.searchTerm" type="text" class="form-control" id="search">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button id="go" type="button" class="btn btn-default" data-ng-click="vm.doSearch()">Go</button>
        </div>
    </div>
    <!--
    Exercise 3
    Implement a new button on the GUI called "Clear". By clicking on "Clear" the entered text in the searchfield should be deleted. If the results table contains any results then they should be removed from the GUI
    -->
    <div class="row">
        <div class="col-md-4">
            <button id="clear" type="button" class="btn btn-danger" data-ng-click="vm.clear()">Clear</button>
        </div>
    </div>

    <br/>

    <div class="row">
        <b>Results</b>
        <table class="table">
            <tr>
                <th ng-click="vm.sortByHeader('firstName')"><b>Firstname</b></th>
                <th ng-click="vm.sortByHeader('lastName')"><b>Lastname</b></th>
                <th ng-click="vm.sortByHeader('email')"><b>Email</b></th>

            </tr>
            <tr ng-repeat="user in vm.search.users">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>

    </div>
</div>

